body {
  padding: 50px;
  font:14px "Lucida Grande",
  Helvetica,
  Arial,
  sans-serif;
}

a{
  color: #00b7ff;
}

.replies {
  margin-left: 50px;
  margin-top: 5px;
}
.reply {
  margin-bottom: 3px;
}
.zoomable {
  cursor: pointer;
}